<header class="header">
  <div class="header__body">
    <div class="navbar header__navbar">
      <div class="navbar__left">
        <div class="logo navbar__logo">
          <img src="./assets/logo__icon.svg" class="logo__icon" alt="logo-icon">
        </div>
        <!--переключатель переделай, мы ж не просто рисует, тут по идее будет логика-->
        <div class="lang-switcher navbar__lang-switcher">
          <p class="lang-switcher__title">En</p>
          <div class="lang-switcher__icon">
            <img src="./assets/arrow-down.svg" alt="arrow-icon">
          </div>
        </div>
      </div>
      <div class="navbar__right">
        <nav class="menu navbar__menu">
          <a href="" class="menu__item">About</a>
          <a href="" class="menu__item">Tech</a>
          <a href="" class="menu__item">Benefits</a>
          <a href="" class="menu__item">Contact</a>
        </nav>
        <button class="button navbar__button">
          Buy Now
        </button>
      </div>
    </div>
    <div class="main header__main">
      <div class="main__left">
        <h1 class="main__title">The new start of <br>
          <!--когда используешь модификатор нужно указывать c блоком, на пример класс должен выглядеть так ""main__title main__title-blue"-->
          <span class="main__title-blue">vr locomotion</span>
        </h1>
        <div class="main__info info">
          <p class="info__text">
            Discover the most comprehensive VR Locomotion system, and unlock infinite motion in
            any games on any platforms!
          </p>
          <!--тут тоже должно быть "info__text info__text-light"-->
          <p class="info__text-light">
            1200$
          </p>
          <div class="info__button">
            <!--alt указывай проще, одним словом а если два то через дефис, тут можно просто указать play-->
            <!--исправь класс с модификатором-->
            <img src="./assets/play-btn.svg" class="info__button-image" alt="Button play video">
          </div>
        </div>
      </div>
      <div class="main__right">
        <img src="./assets/header__image.svg" class="main__image" alt="Image of car tires">
      </div>
    </div>
    <div class="bottom header__bottom">
      <div class="bottom__left">
        <p class="bottom__item">FAQ</p>
        <p class="bottom__item">Help</p>
      </div>
      <div class="bottom__center">
        <!--а тут правильно))-->
        <p class="bottom__item bottom__item-blue">More</p>
        <!--а тут нет)-->
        <div class="bottom__center-icon">
          <img src="./assets/arrow-down.svg" alt="arrow-icon">
        </div>
      </div>
      <div class="bottom__right">
        <p class="bottom__item bottom__item-selected">Previous</p>
        <p class="bottom__item">Next</p>
      </div>
    </div>
  </div>
</header>
