<header class="header">
  <div class="header__body">
    <div class="navbar header__navbar">
      <div class="navbar__left">
        <div class="logo navbar__logo">
          <img src="./assets/logo__icon.svg" class="logo__icon" alt="">
        </div>
        <div class="lang-switcher navbar__lang-switcher">
          <p class="lang-switcher__title">En</p>
          <div class="lang-switcher__icon">
            <img src="./assets/arrow-down.svg" alt="">
          </div>
        </div>
      </div>
      <div class="navbar__right">
        <nav class="menu navbar__menu">
          <a href="" class="menu__item">About</a>
          <a href="" class="menu__item">Tech</a>
          <a href="" class="menu__item">Benefits</a>
          <a href="" class="menu__item">Contact</a>
        </nav>
        <div class="button navbar__button">
          <p class="button__title">Buy Now</p>
        </div>
      </div>

    </div>
    <div class="main header__main">
      <div class="main__left">
        <h1 class="main__title">THE NEW START OF <br> <span class="main__title-span">VR LOCOMOTION</span></h1>
        <div class="main__info">
          <p class="main__subtitle">Discover the most comprehensive VR Locomotion system, and unlock infinite motion in
            any games on any platforms!
          </p>
          <p class="main__price">1200$
          </p>
          <div class="main__button">
            <img src="./assets/play-btn.svg" class="main__button-img" alt="">
          </div>
        </div>


      </div>
      <div class="main__right">
        <img src="./assets/header__image.svg" class="main__image" alt="">
      </div>

    </div>
    <div class="header__footer">

    </div>
  </div>

</header>
